ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}


hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#small{
    color: grey;
    font-size: small;
}

.wrapper{
  overflow: hidden; 
}

.overview {
    border-radius: 5px;
    padding: 20px;
    width: 200px;
    height: 100px;
    color: white;
    font-size: large;
    text-align: center;
    float:left;
    vertical-align: bottom;
    margin: 5px;
}

.counter {
  font-size: xx-large;
}

#activityBox1{
  background-color: blue;
}

#activityBox2{
  background: #73AD21;
}

#activityBox3{
  background: orange;
}

#activityBox4{
  background:red;
}

  